@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  font-family: "PPGrahamRounded";
  font-weight: 400;
  overflow: hidden;
  background-color: #FFF9EC;
}

.gradient1 {
  background: linear-gradient(
    180deg,
    rgba(255, 250, 234, 0.69) 0%,
    rgba(255, 252, 244, 0) 100%
  );
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-blend-mode: multiply; */
}

@layer base {
  h1,h2,h3,h4,h5,h6 {
    font-family: "PPWoodland", arial, sans-serif;
    font-weight: 700;
  }

  @font-face {
    /* font-extralight */
    font-family: "PPGrahamRounded";
    font-weight: 400;
    src: url("../assets/fonts/PPPangramSansRounded-Medium.otf") format("truetype");
  }

  @font-face {
    /* font-extralight */
    font-family: "PPWoodland";
    font-weight: 700;
    src: url("../assets/fonts/ppwoodland-bold.otf") format("truetype");
  }

@layer components {
  .container-fluid {
    @apply flex-1 flex flex-col items-center px-6 xl:px-0;
  }
  .container {
    @apply max-w-[1105px];
  }

  .container-padded {
    @apply pt-20 md:pt-24 lg:pt-36 pb-20 md:pb-24 lg:pb-36;
  }

  .header1 {
    @apply text-black/[0.96] text-center text-5xl leading-[3.25rem] -tracking-[1px] lg:text-[5rem] lg:leading-[5.375rem] lg:-tracking-[1.6px];
  }

  .header2 {
    @apply text-black/[0.96] text-4xl leading-10 -tracking-[1px] lg:text-[4.25rem] lg:leading-[4.5rem] lg:-tracking-[1.6px];
  }

  .header3 {
    @apply text-black/[0.96] text-3xl leading-[2.125rem] -tracking-[1px] lg:text-[3.75rem] lg:leading-[4rem] lg:-tracking-[1.6px];
  }

  .header4 {
    @apply text-black/[0.96] text-2xl leading-[1.75rem] -tracking-[1px] lg:text-[3rem] lg:leading-[3.25rem] lg:-tracking-[0.8px];
  }

  .header5 {
    @apply text-black text-xl leading-6 -tracking-[0.6px] lg:text-2xl lg:leading-7 lg:-tracking-[0.6px];
  }

  .header6 {
    @apply text-black text-lg leading-6 lg:text-[1.375rem] lg:leading-[1.625rem];
  }

  .header-inline {
    @apply text-black/75 inline-block mt-2;
  }

  .subtitle1 {
    @apply font-medium text-lg leading-[22px] lg:text-2xl lg:leading-[30px] -tracking-[0.6px];
  }

  .subtitle2 {
    @apply font-medium text-base leading-5 lg:text-[1.375rem] lg:leading-7 -tracking-[0.6px];
  }

  .subtitle3 {
    @apply font-medium text-sm leading-[1.125] lg:text-lg lg:leading-[1.375rem] -tracking-[0.2px];
  }

  .subtitle4 {
    @apply text-base lg:leading-5 -tracking-[0.1px];
  }

  .input {
    @apply ring-0 focus:ring-0 outline-none placeholder-gray-500;
  }

  .privacy-ul {
    @apply list-disc pl-10 pt-5;
  }

  .subtitle2 > small {
    @apply block my-2 text-brand-black;
  }

  button {
    @apply hover:scale-[1.03] transition-transform ease-in;
  }

  .chip {
    @apply rounded py-3 px-4 lg:py-4 lg:px-5 max-w-fit text-gray-150;
  }
}

.slideOut, .header1, .subtitle1 {
  /* opacity: 0; */
  /* filter: blur(5px); */
  visibility: hidden;
  transform: translateY(100px);
  transition: all 0.5s;
}
/* .subtitle1 {
  transition-delay: 0.3s;
} */
.slideIn {
  /* opacity: 1; */
  /* filter: blur(0); */
  /* transition: all 1s; */
  visibility: visible;
  transform: translateY(0px);
}
}