@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "PPGrahamRounded";
  font-weight: 400;
  overflow: hidden;
  height: 100vh;
  background-color: #FFF9EC;
}

.gradient1 {
  background: linear-gradient(
    180deg,
    rgba(255, 250, 234, 0.69) 0%,
    rgba(255, 252, 244, 0) 100%
  );
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-blend-mode: multiply; */
}

.card {
  border-radius: 2px;
}
.card:hover .mirror {
  display: block;
  border-radius: 2px;
}

@layer base {
  h1,h2,h3,h4,h5,h6 {
    font-family: "PPWoodland", arial, sans-serif;
    font-weight: 700;
  }

  @font-face {
    /* font-extralight */
    font-family: "PPGrahamRounded";
    font-weight: 400;
    src: url("../assets/fonts/PPPangramSansRounded-Light.otf") format("truetype");
  }

  @font-face {
    /* font-extralight */
    font-family: "PPWoodland";
    font-weight: 700;
    src: url("../assets/fonts/ppwoodland-bold.otf") format("truetype");
  }

@layer components {
  .container-fluid {
    @apply flex-1 flex flex-col items-center px-6 xl:px-0;
  }
  .container {
    @apply max-w-[1440px] px-4 md:px-20 mx-auto;
  }

  .container-padded {
    @apply pt-20 md:pt-24 lg:pt-36 pb-20 md:pb-24 lg:pb-36;
  }

  .header1 {
    @apply lg:text-[3.25rem] lg:leading-[4.75rem];
  }
  .header2 {
    @apply lg:text-[3rem] lg:leading-[3rem];
  }
  .header3 {
    @apply lg:text-[2.5rem] lg:leading-[3rem];
  }
  .header4 {
    @apply lg:text-[2rem] lg:leading-[3.25rem];
  }
  .header5 {
    @apply lg:text-2xl lg:leading-6;
  }


  .card-title {
    @apply text-2xl leading-7 lg:text-[2.5rem] lg:leading-10;
  }

  .subtitle1 {
    @apply leading-9 lg:text-2xl  lg:leading-[3rem];
  }
  .subtitle2 {
    @apply leading-7 lg:text-xl lg:leading-10;
  }
  .subtitle3 {
    @apply lg:text-lg lg:leading-[2.38rem];
  }
  .input {
    @apply ring-0 focus:ring-0 outline-none placeholder-gray-500;
  }
  .card {
    @apply bg-white border-[3px] border-black px-[38px] pt-[43px];
  }

  button {
    @apply hover:scale-[1.03] transition-transform ease-in;
  }
}
}